* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}

:root {
  --background: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);

  --primary: #F9F9F9;
  --secondary: #628E75;
}

body, button, textarea, input {
  color: var(--primary);
  font: 400 1rem "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}
