.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  background: var(--background);
}

.content {
  width: 100%;
  max-width: 1100px;

  padding-top: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}