.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 100px;
    height: 48px;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 2rem;

    svg {
      width: 40px;
      height: 40px;
    }

    li:hover svg path{
      animation: svg-hover 1.5s ease alternate;
    }
  }
}

@keyframes svg-hover{
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
  }
  25% {
    stroke-width: 2;
  }
  100% {
    stroke-width: 1;
    stroke-dasharray: 100 1;
  } 
}